.mind-box-button {
  all: unset;

  cursor: pointer;
  //user-select: none;

  display: inline-flex;
  flex-shrink: 0;
  gap: 10px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;

  &:focus {
    outline: 2px solid #b0b8ff;
  }
  &:active:enabled {
    background-color: #eddad9;
  }

  &:hover:enabled {
    border: #eddad9 solid 1px;
  }

}
