.tasks-list-container {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
  gap: 10px;
  padding: 10px;
  width: 100%;
  .todo-container {
    display: flex;
    gap: 10px;
    padding: 4px;
    border: #d9d9d9 solid 3px;
    justify-content: space-between;

    .todo-container__title {
      display: flex;
      gap: 10px;
    }

    .delete-icon-container {
      background: none;
      border: none;
      cursor: pointer;
      padding: 5px;
      display: flex;
      align-items: center;
    }

    .delete-icon {
      width: 15px;
      height: 15px;
    }
  }
  .completed-text {
    text-decoration: line-through;
    color: #d9d9d9
  }

}



